@{
    ViewData["Title"] = "View Activity";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-brand">Activities Center</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/party/new">New Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div>
    <h1 class="text-center">@Model.PartyName</h1>
    <br>
    <div class="col-7" style="display: inline-block; vertical-align: top;">
        <h4>Event Creator: @Model.Planner.Name</h4>
        <br>
        <h5>Date & Time: @Model.PartyDate</h5>
        <h5>Duration: @Model.Duration @Model.TimeFormat</h5>
        <h5>Description:</h5>
        <p>@Model.Description</p>
        <a href="/join/@Model.PartyId"><button type="submit" class="btn btn-lg btn-success">Join Activity</button></a>&nbsp; 
    </div>
    <div class="col-3" style="display: inline-block; vertical-align: top;">
        <h5>Participants:<h5>
        <ul>
            @foreach (Join j in Model.AttendingUsers)
            {
                <li>@j.Joiner.Name</li>   
            }
        </ul>
    </div>
</div>

